<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Img-App</title>
    <%- include("partials/head") %>

    <!-- CSS STYLE -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <%- include("partials/navigation") %>

    <div class="container p-4">
      <!-- This is how I use Masonry. Adding .grid, .grid-sizer and .grid-item -->
      <div class="grid" data-masonry = '{ "itemSelector": ".grid-item", "columnWidth": 200, "percentPosition": true }'>
        <div class="grid-sizer col-xs-4">
          <% images.forEach(function(image) { %>
          <div class="card grid-item col-xs-8 animate__animated animate__fadeInDown animate__slower">
            <img src="<%= image.path %>" alt="Algo" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title"><%= image.title %></h5>
              <p class="card-text"><%= image.description %></p>
              <p class="card-text"><%= format(image.date) %></p>
              <a href="/image/<%= image._id %> " class="btn btn-primary"
                >Perfil de la Imagen</a
              >
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>

    <!--BOOSTRAP JS and MASONRY CDN-->
    <%- include('partials/script.ejs') %>
  </body>
</html>
